:root {
  --border: rgb(255, 255, 255);
  --background: rgb(75, 0, 0);
}

* {
  margin: 0;
  padding: 0;
}

#firstimg {
  height: 40vh;
  width: 100vw;
}

h1 {
  margin: 10px;
  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}

h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
  color: rgb(181, 181, 181);
  border-radius: 5px;
  background-color: rgb(75, 0, 0);
  width: 100vw;
  text-align: center;
  font-weight: 500;
  border: solid 3px var(--border);
  padding: 10px;
  font-size: 55px;
}

.searchbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  background-color: var(--background);
  border-radius: 10px;
  margin: 20px;
  margin-top: 80px;
  border: solid 3px var(--border);
  /* height: 20vh; */
}

.searchform {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*color: white;
  background-color: var(--background);*/
}

.Infopanel {
  font-size: 25px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  margin: 20px;
  border-radius: 10px;
  height: 30vh;
  margin-top: 200px;
  border: solid 3px var(--border);
  font-size: 55px;
}
#entry {
  margin: 10px;
  width: 20vw;
  height: 5vh;
  border: solid 2px black;
}

#Search {
  width: 21vw;
  margin: 20px;
}

#stats {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 500;
  color: rgb(181, 181, 181);
  border-radius: 5px;
  border: solid 3px var(--border);
  background-color: var(--background);
}
.card {
  color: white;
  background-color: var(--background);

  border-radius: 10px;
}

.card-title {
  margin: 10px;
}

p {
  margin: 10px;
}
body {
  background-color: rgb(9, 1, 71);
}
.CovidStats {
  font-size: 20px;
  display: flex;
  justify-content: center;
  height: 100px;
  border: solid 3px var(--border);
}

#map {
  height: 800px;
  width: 1500px;
}
